name: Build and Release Standalone GUI

on:
  push:
    tags:
      - 'v*'

jobs:
  generate-release-notes:
    runs-on: ubuntu-latest
    outputs:
      changelog: ${{ steps.notes.outputs.changelog }}
    steps:
      - uses: actions/checkout@v4
      - id: notes
        run: |
          echo "changelog=$(git log -20 --pretty=format:'* %s')" >> $GITHUB_OUTPUT && echo $GITHUB_OUTPUT
        


  build-windows:
    needs: generate-release-notes
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller pyqt6 opencv-python huggingface_hub[cli]
      - name: Build exe
        run: pyinstaller --onefile --windowed osl_visualizer/main.py --add-data "osl_visualizer/ui;ui"
      - name: Rename binary
        run: move dist\\main.exe dist\\OSL-GUI-win.exe
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: OSL-GUI-Windows
          path: dist/OSL-GUI-win.exe
      - name: Zip Windows binary
        run: powershell Compress-Archive -Path dist\OSL-GUI-win.exe -DestinationPath dist\OSL-GUI-win.zip
      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: dist/OSL-GUI-win.zip
          tag_name: ${{ github.ref_name }}
          body: ${{ needs.generate-release-notes.outputs.changelog }}

  build-macos:
    needs: generate-release-notes
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller pyqt6 opencv-python huggingface_hub[cli]
      - name: Build app
        run: pyinstaller --onefile --windowed osl_visualizer/main.py --add-data "osl_visualizer/ui:ui"
      - name: Rename binary
        run: mv dist/main dist/OSL-GUI-mac
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: OSL-GUI-macOS
          path: dist/OSL-GUI-mac
      - name: Zip binary
        run: cd dist && zip OSL-GUI-mac.zip OSL-GUI-mac && cd ..
      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: dist/OSL-GUI-mac.zip
          tag_name: ${{ github.ref_name }}
          body: ${{ needs.generate-release-notes.outputs.changelog }}

  build-linux:
    needs: generate-release-notes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - name: Install requirements
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1 libglib2.0-0
          python -m pip install --upgrade pip
          pip install pyinstaller pyqt6 opencv-python huggingface_hub[cli]
      - name: Build binary
        run: pyinstaller --onefile --windowed osl_visualizer/main.py --add-data "osl_visualizer/ui:ui"
      - name: Rename binary
        run: mv dist/main dist/OSL-GUI-linux
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: OSL-GUI-Linux
          path: dist/OSL-GUI-linux
      - name: Zip Linux binary
        run: cd dist && zip OSL-GUI-linux.zip OSL-GUI-linux && cd ..
      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: dist/OSL-GUI-linux.zip
          tag_name: ${{ github.ref_name }}
          body: ${{ needs.generate-release-notes.outputs.changelog }}


permissions:
  contents: write
